<mat-toolbar>Medicos</mat-toolbar>
<router-outlet></router-outlet>
<div class="example-container mat-elevation-28" *ngIf="route.children.length===0">
    
  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar Medicos">
    </mat-form-field>
  </div>
  <mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="run">
      <mat-header-cell *matHeaderCellDef mat-sort-header>RUN</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.run}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="nombres">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Nombres</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.nombres}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="apellidos">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Apellidos</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.apellidos}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="direccion">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Direccion</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.direccion}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="telefono">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Telefono</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.telefono}}</mat-cell>
      </ng-container>    
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.email}}</mat-cell>
      </ng-container>    
    <ng-container matColumnDef="acciones">
      <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-button color="primary" [routerLink]="['edicion',row.id]">Actualizar</button>
        <button mat-button color="accent" (click)="eliminar(row.id)">Eliminar</button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns:displayedColumns;">      
    </mat-row>    
  </mat-table>
  <mat-paginator [pageSize]="5" [pageSizeOptions]="[5,10,25,50,100]" [length]="cantidad" ></mat-paginator>
  <!--(page)="mostarMas($event)"-->
</div>  
<br>
<button mat-fab color="accent" style="float: right"routerLink='/especialista/nuevo'>
  <mat-icon>create</mat-icon>  
</button>


